.header-cam {
	position: relative;
	margin-left: 10px;
	padding: 10px 0px;
}

.header-cam > a > i {
	font-size: 54px;
}

.dropdown-btn {
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.show {
	display: block;
}

.nav-col-1 {
	justify-self: start;
	align-self: center;
}
.nav-col-2 {
	justify-self: center;
	align-self: center;
}
.nav-col-3 {
	justify-self: end;
	align-self: center;
}

.header-messages {
	position: relative;
	margin-right: 10px;
	padding: 10px 0px;
}

.header-messages > a > i {
	font-size: 54px;
}

.wide {
	width: 100%;
	border-bottom: 1px solid #dbdbdb;
	background-color: #fff;
	margin: 0 auto;
}

nav {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	max-width: 1340px;
	margin: 0 auto;
	/*background-color: #fff;*/
	width: 100%;
}

.nav-text {
	font-family: "Charm", cursive;
	font-weight: 100;
	font-size: 58px;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: relative;
}

/* UPLOAD CSS */

#uploadForm {
	width: 260px;
	height: 149px;
	border: 4px dashed #000;
}
#uploadForm p {
	width: 100%;
	text-align: center;

	color: #000;
	font-family: Arial;
	padding-top: 59px;
	margin-bottom: 28px;
}
#uploadForm input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
}
#uploadForm button {
	margin: 0;
	color: #fff;
	background: #16a085;
	border: none;
	width: 269px;
	height: 35px;
	margin-top: -20px;
	margin-left: -4px;
	border-radius: 4px;
	border-bottom: 4px solid #117a60;
	transition: all 0.2s ease;
	outline: none;
}
#uploadForm button:hover {
	background: #149174;
	color: #0c5645;
}
#uploadForm button:active {
	border: 0;
}
