/* FLIP RESET DIRECT MESSAGES CSS DEFINITIONS */

/* CONVERSATION CSS DEFINITIONS */
.conversation-container {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	/*padding-top: 44px;*/
}

.conversation-header{
	width: 50%;
	justify-self: center;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	margin: 10px 0px;
}

ul.conversation-list{
	width: 50%;
	list-style-type: none;
	justify-self: center;
}

/* MESSAGE CSS DEFINITIONS */

.message {
	/* width: 50%; */
	justify-self: center;
	background-color: rgb(169, 91, 247);
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	margin: 10px 0px;
}

.message-header {
	padding: 5px 0px;
	display: grid;
	background-color: #fff;
	grid-template-columns: auto auto;
	width: 100%;
	position: relative;
	border-radius: 20px;
}

.message-text{
	justify-self: left;
}

.message-name {
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 10px;
	border-radius: 20px;
	background-color: rgb(169, 91, 247);
}

.message-author>a>img {
	border-radius: 30px;
	margin-left: 3px;
	background-color: rgb(169, 91, 247);
	width: 30px;
	height: 30px;
}

.message-author>a {
	background-color: rgb(169, 91, 247);
	margin-left: 3px;
	border-radius: 20px;
	display: inline-block;
}

.message-author {
	justify-self: start;
	margin-left: 3px;
	width: 150px;
	background-color: rgb(169, 91, 247);
	border-radius: 20px;
}



.message-settings {
	justify-self: end;
}

.message-settings>a>img {
	width: 30px;
	height: 30px;
}

.message-content {
	width: 100%;
	height: 430px;
	background-color: rebeccapurple;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* POST FOOTER CSS */

.message-footer {
	display: grid;
	grid-template-rows: 1fr;
}

.message-social {
	margin-top: 5px;
	margin-bottom: -3px;
}

.message-social>i.la-heart {
	font-size: 32px;
	color: gray;
	opacity: 0.2;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 15px;
	transition: all ease-in-out 0.2s;
}

.message-social>i.la-heart:hover {
	color: #ed4956;
	opacity: 1;
}

.message-social>i.la-message {
	font-size: 32px;
	cursor: pointer;
	color: gray;
	transition: all ease-in-out 0.2s;
	opacity: 0.2;
}

.message-social>i.la-message:hover {
	opacity: 1;
}

.black-heart {
	color: black;
	font-size: 12px;
}

.message-divide::before {
	content: "";
	display: block;
	border-top: gainsboro solid 0.5px;
	width: 66%;
	height: 2px;
	border-radius: 5px 0px;
	margin: 10px auto;
}

.message-LB {
	padding-left: 5px;
}

.message-status {
	margin-top: 5px;
}

.message-messages-container {
	margin-top: 5px;
	margin-left: 5px;
}

.message-messages {
	list-style: none;
}

.message>.username {
	font-weight: bold;
	margin-right: 10px;
}

.input-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-self: center;
	justify-content: space-between;
	align-items: stretch;
	border: 1px solid #000000;
	border-radius: 2px;
	width: 50%;
}

.message-message {
	width: 100%;
	border: none;
}

.message-message:focus {
	outline: none;
}

.message-message-link {
	text-decoration: none;
	color: #2394ff;
}

.message-message-link.disabled {
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}
